/*start Inputtitle*/
.input-title{
    @include fontFace($fontWeight:700,$fontSize:8,$color: $darkshade75, $spacing:0.1);
    line-height: 15px;
    text-transform: uppercase;
}
/*end Inputtitle*/
/*start Inputemail*/
.input-email{
    width: 213px;
    height: 29px;
    display: block;
    border-radius: 3px;
    border: 1px solid $darkshade25;

    @include fontFace($fontSize:9, $color:$darkshade25, $spacing:1);
    padding: 9px;
    transition-property: border-color, color;
    transition-duration: .5s;
    &:focus, &:hover{
        border-color: $darkshade50;
        color: $darkshade75;
    }
}
input.input-email::placeholder{
    @include fontFace($fontSize:9, $color:$darkshade25, $spacing:1);
}


/*end Inputemail*/

