/*start Inputtitle*/
.input-title{
    @include fontFace($fontWeight:700,$fontSize:8,$color: $darkshade75, $spacing:0.1);
    line-height: 15px;
    text-transform: uppercase;
}
/*end Inputtitle*/
/*start Inputemail*/
.input{
    &-email, &-password{
        @include inputForm();
        @include fontFace($fontSize:9, $color:$darkshade25, $spacing:1);
        transition-property: border-color, color;
        transition-duration: .5s;
        &:focus, &:hover{
            border-color: $darkshade50;
            color: $darkshade75;
        }
    }
    
}
.input{
    &-email, &password{
        &::placeholder{
            @include fontFace($fontSize:9, $color:$darkshade25, $spacing:1);
        }
    }
    
}


/*end Inputemail*/

