
.wrapper {
    height: 100vh;
    display: block;
    margin-left: 100px;
    margin-top: 70px;
    
    
}
.title{
/*email password title*/
    &-email, 
    &-guests,
    &-birthdate,
    &-date,
    &-datefilter,
    &-subscription{
        @include fontFace($fontWeight:700,$fontSize:12,$color: $darkshade75,$spacing:0.35);
        line-height: 15px;
        padding-bottom: 4px;
        text-transform: uppercase;
    }
      
    
/*dropdown guests title*/
    &-guests,
    &-datefilter{
        letter-spacing: 1px
    }    
    &-date{
        letter-spacing: 0.75px
    }    
}

.input{
/*email password input*/
    &-email,
    &-password,
    &-birthdate{
        @include inputForm();
        @include fontFace($fontSize:14, $color:$darkshade25, $spacing:1);
        transition-property: border-color, color;
        transition-duration: .5s;
        &:focus, &:hover{
            border-color: $darkshade50;
            color: $darkshade75;
        }

        &::placeholder{
            @include fontFace($color:$darkshade25, $spacing:0);
        }
    }

/*dropdown guests input*/
    &-guests{
        @include inputForm();
        padding-top: 12px;
        padding-left: 14px;
        cursor: pointer;    
        @include arrowDown();

        &__text{
            @include fontFace($color:$darkshade75);
        }
    }
    &-date{
        @include inputForm($width: 150);
        padding-top: 12px;
        padding-left: 14px;
        cursor: pointer;    
        @include arrowDown();

        &__text{
            @include fontFace($color:$darkshade75);
        }
    }    
    &-datefilter{
        @include inputForm($width: 266);
        padding-top: 12px;
        padding-left: 14px;
        cursor: pointer;    
        @include arrowDown();

        &__text{
            @include fontFace($color:$darkshade75);
        }
    } 
    
    &-subscription{
        @include inputForm($width: 266);
        padding-top: 12px;
        padding-left: 14px;
        cursor: pointer;    
        @include arrowRight();
        &__text{
            @include fontFace($color:$darkshade25);
        }
    }
    
}



