@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url('/src/fonts/Montserrat-Bold.eot'),
         url('/src/fonts/Montserrat-Bold.otf'),
         url('/src/fonts/Montserrat-Bold.svg'),
         url('/src/fonts/Montserrat-Bold.ttf'),
         url('/src/fonts/Montserrat-Bold.woff') 
}
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url('/src/fonts/Montserrat-Regular.eot'),
         url('/src/fonts/Montserrat-Regular.otf'),
         url('/src/fonts/Montserrat-Regular.svg'),
         url('/src/fonts/Montserrat-Regular.ttf'),
         url('/src/fonts/Montserrat-Regular.woff') 
}